<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
  <servlet>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>com.Action.AdminLogin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NewUserReg</servlet-name>
    <servlet-class>com.Action.NewUserReg</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CloudCreate</servlet-name>
    <servlet-class>com.Action.CloudCreate</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadCloud</servlet-name>
    <servlet-class>com.Action.UploadCloud</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>com.Action.UserLogin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadActions</servlet-name>
    <servlet-class>com.Action.UploadActions</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FileDownload</servlet-name>
    <servlet-class>com.Action.FileDownload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewUserReg</servlet-name>
    <url-pattern>/NewUserReg</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CloudCreate</servlet-name>
    <url-pattern>/CloudCreate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadCloud</servlet-name>
    <url-pattern>/UploadCloud</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadActions</servlet-name>
    <url-pattern>/UploadActions</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FileDownload</servlet-name>
    <url-pattern>/FileDownload</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>DownloadFilter</filter-name>
    <filter-class>com.Action.DownloadFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>DownloadFilter</filter-name>
    <url-pattern>/FileDownload</url-pattern>
  </filter-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>updatefile</display-name>
    <servlet-name>updatefile</servlet-name>
    <servlet-class>com.Action.updatefile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatefile</servlet-name>
    <url-pattern>/updatefile</url-pattern>
  </servlet-mapping>
</web-app>